In [133]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model
from glob import glob
from datetime import datetime, timedelta
import requests
import math

In [136]:
now = datetime.now().strftime("%Y%m%d")
nowHour = datetime.now().strftime("%H")

In [135]:
conn = create_engine("mysql+pymysql://jeogi:1234@10.10.21.86:3306/jeogi?charset=utf8")

In [159]:
nowData_raw['stdDate'][0]

'20240215'

In [171]:
nowData_raw['stdDate'][:1][0] == now

True

In [208]:
myKey = "7026631198"

now = datetime.now().strftime("%Y%m%d")
nowHour = datetime.now().strftime("%H")

beforeData = pd.read_sql("SELECT * FROM realtime_data", con=conn)

if beforeData['stdDate'][:1][0] != now:
    nowData_raw = pd.DataFrame()
    hours = range(0, int(nowHour)-1)
    for hour in hours:
        pageNo = "1"
        print(f"{hour}시 {pageNo} 진행 중")
        url = f"https://data.ex.co.kr/openapi/odtraffic/trafficAmountByUnit?key={myKey}&type=json&sumTmUnitTypeCode=3&stdHour={hour:02d}&numOfRows=99&pageNo={pageNo}"
        response = requests.get(url)

        pageSize = response.json().get("pageSize")

        nowData_temp = pd.DataFrame(response.json().get("list"))

        for page in range(2, pageSize + 1):
            print(f"{hour}시 {page} 진행 중")
            url = f"https://data.ex.co.kr/openapi/odtraffic/trafficAmountByUnit?key={myKey}&type=json&sumTmUnitTypeCode=3&stdHour={hour:02d}&numOfRows=99&pageNo={page}"
            response = requests.get(url)
            temp = pd.DataFrame(response.json().get("list"))
            nowData_temp = pd.concat([nowData_temp, temp])

        nowData_raw = pd.concat([nowData_raw, nowData_temp])

    nowData_raw['trafficAmout'] = nowData_raw['trafficAmout'].astype(int)
    
    entrance_data = nowData_raw[nowData_raw['inoutName'] == '입구']
    exit_data = nowData_raw[nowData_raw['inoutName'] == '출구']
    
    entrance_traffic = entrance_data.groupby(['unitCode', 'stdHour'])['trafficAmout'].sum().reset_index()
    exit_traffic = exit_data.groupby(['unitCode', 'stdHour'])['trafficAmout'].sum().reset_index()
    
    traffic_data = pd.merge(entrance_traffic, exit_traffic, on=['stdHour', 'unitCode'])
    traffic_data = traffic_data.rename(columns={'trafficAmout_x':'in', 'trafficAmout_y':'out'})
    
    location = pd.read_sql(f"SELECT * FROM location", conn)
    
    traffic_data['unitCode'] = traffic_data['unitCode'].str.strip()
    
    
    result = []

    for loc_code, unit_code_list in zip(location['loc_code'], location['unit_code']):
        unit_codes = unit_code_list.split(',')
        for hour in traffic_data['stdHour'].unique():
            in_sum = 0
            out_sum = 0
            for unit_code in unit_codes:
                unit_code = unit_code.strip()
                temp_df = traffic_data[(traffic_data['unitCode'] == unit_code) & (traffic_data['stdHour'] == hour)]
                if not temp_df.empty:
                    in_sum += temp_df['in'].sum()
                    out_sum += temp_df['out'].sum()
            result.append({
                'loc_code': loc_code,
                'hour': hour,
                'in': in_sum,
                'out': out_sum
            })
    
    result_df = pd.DataFrame(result)
    result_df['stdDate'] = now
    result_df['move'] = result_df['in'] - result_df['out']
    result_df.sort_values(by='hour')
    result_df = result_df.reset_index()
    result_df = result_df.iloc[:,1:]
    result_df.to_sql(name='realtime_data', con=conn, if_exists='replace', index=False)
else:
    nowData_raw = pd.DataFrame()
    last_hour = beforeData['hour'].astype(int).max()
    hours = range(last_hour + 1, int(nowHour) - 1)

    for hour in hours:
        pageNo = "1"
        print(f"{hour}시 {pageNo} 진행 중")
        url = f"https://data.ex.co.kr/openapi/odtraffic/trafficAmountByUnit?key={myKey}&type=json&sumTmUnitTypeCode=3&stdHour={hour:02d}&numOfRows=99&pageNo={pageNo}"
        response = requests.get(url)

        pageSize = response.json().get("pageSize")

        nowData_temp = pd.DataFrame(response.json().get("list"))

        for page in range(2, pageSize + 1):
            print(f"{hour}시 {page} 진행 중")
            url = f"https://data.ex.co.kr/openapi/odtraffic/trafficAmountByUnit?key={myKey}&type=json&sumTmUnitTypeCode=3&stdHour={hour:02d}&numOfRows=99&pageNo={page}"
            response = requests.get(url)
            temp = pd.DataFrame(response.json().get("list"))
            nowData_temp = pd.concat([nowData_temp, temp])

        nowData_raw = pd.concat([nowData_raw, nowData_temp])

    if len(list(hours)) != 0:
        nowData_raw['trafficAmout'] = nowData_raw['trafficAmout'].astype(int)

        entrance_data = nowData_raw[nowData_raw['inoutName'] == '입구']
        exit_data = nowData_raw[nowData_raw['inoutName'] == '출구']

        entrance_traffic = entrance_data.groupby(['unitCode', 'stdHour'])['trafficAmout'].sum().reset_index()
        exit_traffic = exit_data.groupby(['unitCode', 'stdHour'])['trafficAmout'].sum().reset_index()

        traffic_data = pd.merge(entrance_traffic, exit_traffic, on=['stdHour', 'unitCode'])
        traffic_data = traffic_data.rename(columns={'trafficAmout_x':'in', 'trafficAmout_y':'out'})

        location = pd.read_sql(f"SELECT * FROM location", conn)

        traffic_data['unitCode'] = traffic_data['unitCode'].str.strip()


        result = []

        for loc_code, unit_code_list in zip(location['loc_code'], location['unit_code']):
            unit_codes = unit_code_list.split(',')
            for hour in traffic_data['stdHour'].unique():
                in_sum = 0
                out_sum = 0
                for unit_code in unit_codes:
                    unit_code = unit_code.strip()
                    temp_df = traffic_data[(traffic_data['unitCode'] == unit_code) & (traffic_data['stdHour'] == hour)]
                    if not temp_df.empty:
                        in_sum += temp_df['in'].sum()
                        out_sum += temp_df['out'].sum()
                result.append({
                    'loc_code': loc_code,
                    'hour': hour,
                    'in': in_sum,
                    'out': out_sum
                })

        result_df = pd.DataFrame(result)
        result_df['stdDate'] = now
        result_df['move'] = result_df['in'] - result_df['out']
        result_df.sort_values(by='hour')
        result_df = result_df.reset_index()
        result_df = result_df.iloc[:,1:]
        result_df = pd.concat([beforeData,result_df],ignore_index=False)
        result_df.to_sql(name='realtime_data', con=conn, if_exists='replace', index=False)

In [199]:
nowData_raw

,unitName,pageNo,numOfRows,unitCode,stdHour,trafficAmout,inoutName,centerCode,centerName,stdDate,sumTmUnitTypeCode,startEndStdTypeCode,tcsCarTypeCd,brofCode,brofName,tcsCarTypeNm,tcsCarTypeGrpNm,tcsCarTypeGrpCd
0,인천,None,None,011,00,834,입구,901,수도권본부,20240216,None,None,1,210100,인천,1종,소형차,1
1,인천,None,None,011,00,1197,출구,901,수도권본부,20240216,None,None,1,210100,인천,1종,소형차,1
2,인천,None,None,011,00,17,입구,901,수도권본부,20240216,None,None,2,210100,인천,2종,중형차,2
3,인천,None,None,011,00,34,출구,901,수도권본부,20240216,None,None,2,210100,인천,2종,중형차,2
4,인천,None,None,011,00,6,입구,901,수도권본부,20240216,None,None,3,210100,인천,3종,대형차,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,달뫼하,None,None,899,17,13,입구,960,포천화도센터,20240216,None,None,4,905000,포천화도센터,4종,대형차,3
27,달뫼하,None,None,899,17,22,입구,960,포천화도센터,20240216,None,None,5,905000,포천화도센터,5종,대형차,3
28,달뫼하,None,None,899,17,22,출구,960,포천화도센터,20240216,None,None,5,905000,포천화도센터,5종,대형차,3
29,달뫼하,None,None,899,17,24,입구,960,포천화도센터,20240216,None,None,6,905000,포천화도센터,6종,소형차,1
30,달뫼하,None,None,899,17,24,출구,960,포천화도센터,20240216,None,None,6,905000,포천화도센터,6종,소형차,1

In [202]:
last_hour.max()

AttributeError: 'str' object has no attribute 'max'

In [196]:
del(nowData_raw)

In [192]:
location

,loc_code,loc_name,cars_quantity,unit_code,cluster
0,41820,가평군,34070,654,tour
1,42150,강릉시,119692,"189,580,581,584",tour
2,46810,강진군,20694,982,satellite
3,48880,거창군,35549,"274,280",minor
4,48120,창원시,672279,"146,294,092,289",village
...,...,...,...,...,...
119,48890,합천군,25360,243,tour
120,44800,홍성군,57154,"257,258",tour
121,42720,홍천군,42407,"179,554,765",village
122,41590,화성시,529610,"282,283,671,672,676,682,683,876",satellite
123,42730,횡성군,29949,"181,182,216",satellite

In [ ]:
124