In [1]:
#공부할것
# https://devpouch.tistory.com/196
# https://bio-info.tistory.com/113
# https://m.blog.naver.com/lghmms/222008848710
# https://yganalyst.github.io/data_handling/Pd_12/
# https://statools.tistory.com/362
# https://kongdols-room.tistory.com/123
# https://www.delftstack.com/ko/howto/python-pandas/convert-pandas-series-to-dataframe/
# https://hogni.tistory.com/7
# https://frhyme.github.io/python-libs/pandas_dictionary_to_df/
# https://zephyrus1111.tistory.com/46
# https://wikidocs.net/172785
# https://yganalyst.github.io/data_handling/Pd_12/
# https://domdom.tistory.com/453
# https://jimmy-ai.tistory.com/300
# https://hogni.tistory.com/51
# https://gr-st-dev.tistory.com/836
# https://m.blog.naver.com/nackji80/222434711682
# https://cheris8.github.io/python/PY-Remove-Whitespace/
# https://wikidocs.net/153206

In [2]:
import pandas as pd

import numpy as np

import json

In [3]:
# 1. 파일 읽기
#파일 출처 : https://kimhongsi.tistory.com/entry/%ED%96%89%EC%A0%95%EA%B5%AC%EC%97%AD-%EC%BD%94%EB%93%9C-%EC%A0%95%EB%A6%AC-%EC%8B%9C%EB%8F%84-%EB%8B%A8%EC%9C%84-%EC%8B%9C%EA%B5%B0%EA%B5%AC-%EB%8B%A8%EC%9C%84
file2_name='행정동_기준_시군구_단위.xlsx' #행정동 기준의 시도코드, 시군구

# 파일출처 : https://www.data.go.kr/data/15085270/fileData.do
file1_name='한국도로공사_지사별 영업소 현황_20230630.csv'

#20240131 일일히 react 마커보고 작업한 것
file3_name='행정동시군구_마커_그룹화.xlsx'

sigun=pd.read_excel(file2_name)
address=pd.read_csv(file1_name, encoding='euc-kr')
marker=pd.read_excel(file3_name, dtype={'unitCode':str})

In [4]:
# 1-1. 데이터 전처리
# 데이터프레임marker 전처리하기 : 0이 사라지면 다시 채워주기
marker.unitCode = np.where(marker.unitCode.str.len() > 2,marker.unitCode, '0'+marker.unitCode)

In [5]:
#https://data.ex.co.kr/openapi/locationinfo/locationinfoUnit?key=8156177600&type=json&numOfRows=99&pageNo=1
# with open('1.json') as f:
#     js1=json.loads(f.read())
    # UnicodeDecodeError: 'cp949' codec can't decode byte 0xed in position 22: illegal multibyte sequence
# with open('1.json', encoding='utf-8') as f:
#     js1=json.loads(f.read())
# js1_pd = pd.DataFrame(js1)['list']

In [6]:
js1_pd=pd.read_json('1.json')['list']
js2_pd=pd.read_json('2.json')['list']
js3_pd=pd.read_json('3.json')['list']
js4_pd=pd.read_json('4.json')['list']
js5_pd=pd.read_json('5.json')['list']
js6_pd=pd.read_json('6.json')['list']

js_series=pd.concat([js1_pd,js2_pd,js3_pd,js4_pd,js5_pd,js6_pd])

js_series=js_series.reset_index(drop=True)

tmp=list(js_series)
# len(tmp)

js_pd=pd.DataFrame(tmp)

columns = ['unitName', 'unitCode', 'routeNo', 'routeName', 'xValue', 'yValue']
js_pd=js_pd[columns]

# js_pd.isnull().sum()

js_pd['unitCode']=js_pd['unitCode'].str.strip()
js_pd

    unitName unitCode routeNo routeName      xValue     yValue
0         판교      065     001       경부선  127.103200  37.396399
1       대왕판교      069     001       경부선  127.093456  37.408887
2         서울      101     001       경부선  127.102077  37.365046
3       수원신갈      103     001       경부선  127.102395  37.266835
4         기흥      105     001       경부선  127.102448  37.222267
..       ...      ...     ...       ...         ...        ...
533     동명동호      775     700   대구외곽순환선  128.551700  35.970377
534       연경      776     700   대구외곽순환선  128.611328  35.936574
535      파군재      777     700   대구외곽순환선  128.637672  35.934839
536       둔산      778     700   대구외곽순환선  128.689438  35.900013
537       율암      779     700   대구외곽순환선  128.701789  35.888182

[538 rows x 6 columns]

In [7]:
# js_pd.__dict__
# js_pd.info()
# marker.info()
# js_pd.dtype

In [8]:
tmp=set(js_pd['unitCode'].unique())-set(marker['unitCode'].unique())
len(tmp)

169

In [9]:
tmp=set(marker['unitCode'].unique())-set(js_pd['unitCode'].unique())
len(tmp)

0

In [10]:
js_pd.shape[0]-marker.shape[0]  # 169

169

In [11]:
# js_pd=js_pd.astype({'unitCode':'str'})

In [12]:
#js_pd와 marker를 merge하기
df=pd.merge(js_pd, marker, how='outer')
columns=['unitCode', 'unitName', 'routeNo', 'xValue', 'yValue', 'code', '시도','시군구','시도_시군구', '실위치']
df=df[columns]
df.columns=['unitCode', 'unitName', 'routeNo', 'xValue', 'yValue', '지역코드', '시도','시군구','시도_시군구', '실위치']
df

,unitCode,unitName,routeNo,xValue,yValue,지역코드,시도,시군구,시도_시군구,실위치
0,065,판교,001,127.103200,37.396399,31023.0,경기,성남시,경기분당구,NaN
1,069,대왕판교,001,127.093456,37.408887,31021.0,경기,성남시,경기수정구,NaN
2,101,서울,001,127.102077,37.365046,31023.0,경기,성남시,경기분당구,NaN
3,103,수원신갈,001,127.102395,37.266835,31192.0,경기,용인시,경기기흥구,NaN
4,105,기흥,001,127.102448,37.222267,31192.0,경기,용인시,경기기흥구,NaN
...,...,...,...,...,...,...,...,...,...,...
533,775,동명동호,700,128.551700,35.970377,22050.0,대구,북구,대구북구,NaN
534,776,연경,700,128.611328,35.936574,22050.0,대구,북구,대구북구,NaN
535,777,파군재,700,128.637672,35.934839,22020.0,대구,동구,대구동구,NaN
536,778,둔산,700,128.689438,35.900013,22020.0,대구,동구,대구동구,NaN
537,779,율암,700,128.701789,35.888182,22020.0,대구,동구,대구동구,NaN

In [13]:
tmp=set(df['unitName'].unique())-set(address['영업소'].unique())
len(tmp)

171

In [14]:
tmp=set(address['영업소'].unique())-set(df['unitName'].unique())
len(tmp)

3

In [15]:
#js_series.iloc[0]
#pd.DataFrame(js_series)
#js=js_pd.to_frame(name='origin')
#js.iloc[0].get('unitName')
#js_pd['unitName']=js_pd[0].get('unitName')

In [16]:
#work=df[df['지역코드'].isnull()]
# work.to_excel('work.xlsx')

In [17]:
address_=address.copy()

address_=address_.replace('동순천서광양', '동순천')
address_=address_.replace('무안공항(북무안)', '무안공항')
address_=address_.replace('서부산(가락2)', '서부산')

In [18]:
tmp=set(df['unitName'].unique())-set(address_['영업소'].unique())
len(tmp)

168

In [19]:
tmp=set(address_['영업소'].unique())-set(df['unitName'].unique())
len(tmp)

0

In [20]:
#df와 address를 merge하기
df_=pd.merge(df, address, how='left', left_on='unitName', right_on='영업소')
df_

,unitCode,unitName,routeNo,xValue,yValue,지역코드,시도,시군구,시도_시군구,실위치,본부,지사,영업소,주소
0,065,판교,001,127.103200,37.396399,31023.0,경기,성남시,경기분당구,NaN,수도권,수원,판교,경기도 성남시 분당구 대왕판교로 579
1,069,대왕판교,001,127.093456,37.408887,31021.0,경기,성남시,경기수정구,NaN,수도권,수원,대왕판교,경기도 성남시 수정구 달래내로 52
2,101,서울,001,127.102077,37.365046,31023.0,경기,성남시,경기분당구,NaN,수도권,수원,서울,경기도 성남시 분당구 대왕판교로 240 (궁내동)
3,103,수원신갈,001,127.102395,37.266835,31192.0,경기,용인시,경기기흥구,NaN,수도권,수원,수원신갈,경기도 용인시 기흥구 하갈로 240 (상갈동)
4,105,기흥,001,127.102448,37.222267,31192.0,경기,용인시,경기기흥구,NaN,수도권,수원,기흥,경기도 용인시 기흥구 고매동 519-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,775,동명동호,700,128.551700,35.970377,22050.0,대구,북구,대구북구,NaN,대구경북,대구,동명동호,경상북도 칠곡군 동명면 경북대로 99
534,776,연경,700,128.611328,35.936574,22050.0,대구,북구,대구북구,NaN,대구경북,대구,연경,대구광역시 북구 대구외곽순환고속도로 27
535,777,파군재,700,128.637672,35.934839,22020.0,대구,동구,대구동구,NaN,대구경북,대구,파군재,대구광역시 동구 대구외곽순환고속도로 30
536,778,둔산,700,128.689438,35.900013,22020.0,대구,동구,대구동구,NaN,대구경북,대구,둔산,대구광역시 동구 대구외곽순환고속도로 38
537,779,율암,700,128.701789,35.888182,22020.0,대구,동구,대구동구,NaN,대구경북,대구,율암,대구광역시 동구 대구외곽순환고속도로 39-1

In [24]:
df_.to_excel('work.xlsx')

In [21]:
# tmp=df_[df_['xValue'].isnull()]
# show=tmp[tmp['주소'].notna()]

,unitCode,unitName,routeNo,xValue,yValue,지역코드,시도,시군구,시도_시군구,실위치,본부,지사,영업소,주소
33,226,금강휴게소,001,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,286,통도사휴게소,001,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,723,북구미,001,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,733,옥산,001,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,796,동김천(테스트),001,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,750,기장동JC,688,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,751,기장일광(KEC),688,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
522,754,김해가야휴게소,688,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,758,진영휴게소,688,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,760,기장서JC,688,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN